* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(245, 202, 11);
    height: 15vh;
}
nav {
    /* background-color: red; */
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-links li {
    list-style-type: none;
}
.nav-links a {
    text-decoration: none;
    color: rgb(17, 10, 10);
    font-family: 'Oswald', sans-serif;
    font-size: 152%;
    font-weight: 500;
    background-color: rgb(113, 10, 248);
    font-style: italic;
}
.logo {
    /* background-color: blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 75%;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(244, 123, 164); */
    width: 40%;
    height: 100%;   
}
.dropdown {
    position: absolute;   
    display: none; 
}
.dropdown2 {
    position: absolute;
    display: none;    
}
.nav-links li:hover .dropdown{
    display: block;
}
.dropdown li:hover .dropdown2{
    display: block;
    margin-left: 80%;
    background-color: rgb(253, 155, 155);
    font-style: italic;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



